.aside {
    padding-top: 80px;
}
.aside ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}
.aside ul li {
}
.aside h4 {
    color: var(--neutral);
    font-weight: 00;
    text-transform: uppercase;
    font-size: 12px;
}