.title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--link-color);
}
.title h2 {
    font-weight: 600;
    letter-spacing: .5px;
}
.title h5 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.left {
    align-items: flex-start;
}
.bot::before {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 350px;
    height: 1px;
    background: var(--link-color);
}
.bot::before {

}