.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    padding: 0 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #fff;
    background: var(--main-color);
    z-index: 1;
}
.navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 120px;
}
.navbar .menu li {
    padding: 12px;
}
.navbar .logo {
    height: 40px
}
.navbar .logo img {
    height: 100%
}