.subtitle {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--neutral);
    margin-top: 12px;
}
.subtitle p {
    max-width: 600px;
}
.left {
    justify-content: flex-start;
    text-align: left;
}